.tableWithBorder {
  border: 1px dotted blue;
}

.tableNoBorder {
  margin-top: 20px;
  margin-bottom: 15px;
}

.heading {
  margin-top: 20px;
}

.button {
  background-color: cadetblue;
  color: white;
  border-radius: 7px;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.buttonOnTop {
  margin-top: 10px;
}

.buttonLone {
  margin-top: 15px;
  background-color: cadetblue;
  color: white;
  border-radius: 7px;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tdAddRight {
  padding-right: 50px;
}

.text {
  padding-top: 10px;
}

.divWithBorder {
  padding-top: 10px;
}

.spacer {
  padding-top: 10px;
  padding-bottom: 10px;
}

.link-padding {
  padding: 5px;
}

.navbar-toggler {
  margin: 0 auto;
}

.fix-jump {
  margin-left: 50px;
}
